<!doctype html>
<html>
<head>
  <title>Youtube Music Stripper</title>
</head>
<body>
  <header><img src="/img/tube-stripper-logo.png" alt="tube-stripper-logo"></header>
  {{{ body }}}
</body>
</html>
